* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  height: 400px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/sky.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

header.subpages {
  height: 100px;

}

.head-text-area {
  color: #fff8e1;
  margin-top: 60px;
}

.head-text-area h2,
.head-text-area p {
  text-align: center;
  margin: 20px;
}

section a,
header .head-text-area a,
footer input,
footer textarea {
  display: block;
  color: #ffa600;
  margin: 0 auto;
  width: 150px;
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 0.8em;
  text-align: center;
  border: 2px solid #ffa600;
  border-radius: 20px;
}

section a:hover,
header .head-text-area a:hover {
  background-color: #ffa600;
  color: #242424;
}

header .head-text-area a {
  width: 250px;
  font-size: 1.1em;
}

section {
  display: flex;
}

section > div {
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
section img {
  /* height: auto; */
  max-width: 100%;
  max-height: 350px;
}

section h2 {
  margin-bottom: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 0 10px #bcdefd;
  
}

.card-head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.card-icon {
  width: 70px;
  height: 70px;
  background-color: #b6a0e2;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
}

.card-head h3 {
  color: #303030;
  font-size: 1.5rem;
}


.card-head i {
  color: #ffffff;
  font-size: 48px;
}

.card-head h3 {
  display: inline;

}

/* ############ Hamburger Menu ############ */
nav {
  height: 10vh;
  background: none;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding: 0 5px;
}

.nav-links li a {
  color: #ece5d8;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

.nav-links li a:hover {
  color: #ffa600;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    justify-content: center;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 80% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 85% -15%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
    padding: 5%;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

/* ############ END Hamburger Menu ############ */

.web {
  height: 400px;
  color: #646464;
}

.email {
  height: 400px;
  color: #fff8e1;
  background-color: #574b90;
}

.servers {
  height: 400px;
  color: #646464;
}

.networking {
  height: 400px;
  color: #fff8e1;
  background-color: #107a8b;
}

footer {
  display: block;
}

footer div {
  padding: 10px;
  text-align: center;
  margin: auto;
}

footer h2,
footer p {
  color: #727272;
  padding: 10px;
}

footer h2,
footer a,
footer i,
footer p {
  color: #3a3a3a;
  font-size: 1.1em;
}

footer h2 {
  font-size: 30px;
}

footer i {
  color: #9092ff;
}

.contact p {
  display: inline;
}

footer form,
footer input,
footer textarea {
  text-align: center;
  color: #727272;
  min-width: 300px;
  max-width: 1000px;
  width: auto;
  margin-top: 0;
  margin-bottom: 10px;
  outline: none;
  border-width: 1px;
}

.trimite {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

footer label {
  display: block;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .nav-links li a {
    font-size: 20px;
  }

  footer {
    display: flex;
  }

  footer div {
    max-width: 500px;
  }

  section h2,
  section p {
    padding: 5px;
  }

  section h2,
  .head-text-area h2 {
    font-size: 30px;
  }

  section p,
  .head-text-area p {
    font-size: 20px;
  }

  header .head-text-area a,
  section a {
    width: 250px;
    font-size: 1.3em;
  }

  .trimite {
    padding: 5px 10px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-links li a {
    font-size: 24px;
  }

  header {
    height: 600px;
  }

  header .head-text-area {
    margin-top: 100px;
  }

  .head-text-area h2,
  .head-text-area p,
  .head-text-area div {
    padding: 15px;
  }

  .web,
  .email,
  .servers,
  .networking {
    height: 600px;
  }

  section h2,
  .head-text-area h2 {
    font-size: 40px;
  }

  section p,
  .head-text-area p {
    font-size: 30px;
  }

  header .head-text-area a,
  section a {
    width: 350px;
    font-size: 1.5em;
  }

  footer h2,
  footer a,
  footer i,
  footer p {
    color: #3a3a3a;
    font-size: 1.3em;
  }

  footer h2 {
    font-size: 40px;
  }

  footer i {
    color: #9092ff;
  }

  footer form,
  footer input,
  footer textarea {
    text-align: center;
    color: #727272;
    min-width: 400px;
    max-width: 1300px;
    width: auto;
    margin-top: 0;
    margin-bottom: 10px;
    outline: none;
    border-width: 1px;
    font-size: 20px;
  }

  .trimite {
    padding: 5px 15px;
    font-size: 24px;
  }

  .trimite:hover {
    background-color: #ffa600;
    color: #242424;
  }
}
